.s8k-masked {
  box-sizing: border-box;

  border: 3px dashed #4d4d4f;

  background-color: rgba(204, 204, 204, 1);

  background-image:url("../icons/spoilblock.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;

  color: rgba(0, 0, 0, 0);
  text-shadow: unset;

  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
}

.s8k-masked * {
  visibility: hidden;
}

.s8k-masked-close {
  display: none;

  float: right;

  margin-top:   5px;
  margin-right: 5px;

  color: #4d4d4f;

  font-size: 1.2rem;
  line-height: 1.2rem;

  pointer-events: all;
  cursor: pointer;
}

.s8k-masked > .s8k-masked-close {
  display: block;
  visibility: visible;
}
