#s8k-options {
  display: grid;
  grid-template-columns: 2fr 5fr;
}

#s8k-options > span {
  padding: 5px 0;

  color: #333;

  font: message-box;
  font-size: 1.25rem;
  line-height: 20px;
  text-shadow: 0 1px 1px #fefffe;

  cursor: default;

  -moz-user-focus: ignore;
  -moz-user-select: none;
}

#s8k-options > span:nth-child(n+3) {
  border-top: 1px solid #c1c1c1;
}

#s8k-url-input {
  display: flex;
  justify-content: space-between;

  width: 100%;
}

#s8k-url-input-text {
  width: 78%;
}

input[type=button] {
  width: 20%;
}
