html, body {
  padding: 0;
  margin: 0;

  width: 272px;
}

/* Overview */

#s8k-popup-overview {
  display: flex;

  align-items: center;
  justify-content: center;

  height: 6rem;
}

#s8k-popup-overview > img {
  height: 5rem;
  margin: 0 1rem;
}

#s8k-popup-overview > span {
  height: 4rem;
  line-height: 4rem;
  font-size: 4rem;
}

/* Toggles */

#s8k-popup-toggles {
  border-top: 1px solid hsla(210, 4%, 10%, 0.14);
}

.s8k-toggle {
  display: flex;

  margin: 0.25rem 0;
}

.s8k-toggle > .text {
  flex-grow: 3;

  width: 8rem;
  padding-left: 1rem;

  font-size: 1.15rem;
}

#s8k-toggle-global > .text {
  font-size: 1.4rem;
  font-weight: bold;
}

#s8k-toggle-site > .text, #s8k-toggle-page > .text {
  padding-left: 1.8rem;
}

.s8k-toggle > .checkbox {
  flex-grow: 2;
  text-align: center;
}

.checkbox > input {
  display: none;
}

.checkbox > label {
  display: inline-block;

  position: relative;

  box-sizing: border-box;

  width: 4rem;
  height: 1.7rem;

  border-radius: 1rem;
  border: 0.15rem solid hsla(0, 0%, 80%, 0.90);

  background-color: hsla(0, 0%, 80%, 0.3);

  transition: all 0.2s;

  cursor: pointer;
}

.checkbox > label:before {
  content: '';

  position: absolute;

  top: 0.2rem;
  left: 0.2rem;

  width: 1rem;
  height: 1rem;

  border-radius: 0.65rem;
  border: 0.15rem solid hsla(0, 0%, 80%, 0.90);

  background-color: hsla(0, 0%, 80%, 0.45);

  transition: all 0.2s;

  cursor: pointer;
}

.checkbox > input:checked + label {
  background-color: #058b00;
}

.checkbox > input:checked + label:before {
  left: 2.5rem;
}

/* Controls */

#s8k-popup-controls > button {
  box-sizing: border-box;

  width: 100%;
  min-height: 40px;

  margin: 0;
  padding: 0 10px;

  border: none;
  border-top: 1px solid hsla(210, 4%, 10%, 0.14);

  background-color: hsla(0, 0%, 80%, 0.3);

  font-size: 1.4rem;
  text-align: center;

  cursor: pointer;

  -moz-appearance: none;
}

#s8k-popup-controls > button:hover {
  background-color: hsla(0, 0%, 80%, 0.45)
}
