/* button reset */

button {
    overflow: visible;

    padding: 0;

    border: 0;

    background: none;

    color: inherit;

    font: inherit;
    line-height: normal;

    cursor: default;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;

    -webkit-box-sizing: content-box;
       -moz-box-sizing: content-box;
            box-sizing: content-box;
}

button::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/* spoilblock styles */

#spoilblock-select-layer {
  position: absolute;

  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: rgba(235, 245, 255, 0.3);

  pointer-events: none;

  z-index:99999;
}

#spoilblock-select-box {
  position: absolute;

  top:  0;
  left: 0;

  width:  0;
  height: 0;

  background-color: rgba(183, 226, 243, 0.8);

  box-sizing: border-box;

  border: 1px dashed rgba(0, 136, 204, 1);

  pointer-events: none;
}

#spoilblock-select-container {
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;

  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

}

#spoilblock-select-popup {
  display: none;

  padding: 0.4rem;

  border-radius: 3px;

  background-color: #393f4c;

  font-family: 'Open Sans Light';

  pointer-events: all;
}

#spoilblock-select-popup.visible {
  display: block;
}

#spoilblock-select-popup > h1 {
  color: #8fa1b2;

  font-family: 'Open Sans Light';
  font-size: 2rem;

  text-shadow: none;
}

#spoilblock-select-popup > div {
  text-align: right;
}

#spoilblock-select-popup-selector {
  color: #757873;

  font-family: 'Consolas','monaco','monospace';
  font-size: 1rem;
}

#spoilblock-select-popup-report, #spoilblock-select-popup-cancel {
  margin: 0.25rem;

  color: #46afe3;

  font-size: 1.2rem;
  font-weight: bold;

  cursor: pointer;
}
