/* button reset */

button {
  overflow: visible;

  padding: 0;

  border: 0;

  background: none;

  color: inherit;

  font: inherit;
  line-height: normal;

  cursor: default;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;

  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* spoilblock styles */

#s8k-select-layer {
  position: absolute;

  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.7);

  pointer-events: none;

  z-index:99999;
}

#s8k-select-close {
  position: absolute;

  top:   5px;
  right: 5px;

  color: rgba(255, 255, 255, 1);

  font-size: 1.2rem;

  pointer-events: all;
  cursor: pointer;
}

#s8k-select-box {
  position: absolute;

  top:  0;
  left: 0;

  width:  0;
  height: 0;

  box-sizing: border-box;

  background-color: rgba(255, 255, 255, 0.2);

  border: 2px dashed rgba(255, 255, 255, 0.4);
  border-radius: 1px;

  pointer-events: none;
}
